<html>
  <head>
    <title>Abhiyan's Django project</title>
  </head>

  <body>
    <div>
      <h1>Hello there</h1>
    </div>

    <div>
      <h2>This is my first Django project, how exciting!</h2>
      <h3>Indeed, very exciting!</h3>
    </div>

    <div>
      <p>Hi there!</p>
      <br>
      <p>These div tags define a section of the page.</p>
      <br>
      <p>And these br tags create a break (no closing tag).</p>
    </div>

    <div>
      <p>It works! Isn't that <em>very</em> cool?</p>
      <p>It works! Isn't that <strong>very</strong> cool?</p>
    </div>

    <div>
      <p>Visit Google by clicking <a href="https://google.com">here</a></p>
    </div>

    <div>
      <p>Go to the shop and buy:</p>
      <ul>
        <li>Milk</li>
        <li>Eggs</li>
        <li>Banana bread</li>
      </ul>
    </div>
  </body>

</html>
